<div class="mid-container">
    <div class="holder">
        <h1 class="section-title">{{ sectionTitle }}:</h1>
        <ul id="flag-list">
            <li>
                <!--<a (click)="goToStart('enUS')" href="javascript:;">-->
                    <img class="disabled" src="assets/usa-flag.jpg" />
                <!--</a>-->
            </li>
            <li>
                <a (click)="goToStart('ptBR')" href="javascript:;">
                    <img src="assets/brazil-flag.jpg" />
                </a>
            </li>
        </ul>
    </div>
</div>